*{
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.contenedor {
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.hero {
    /* background-image: linear-gradient(brown, salmon); */
    background-color: brown;
    background-size: cover;

    min-height: 500px;
    height: 100vh;
    color: white;
}

.nav {
    --estadoCerrado: scale(0);
    --estadoHamburguesa: scale(1);
    --estadoMenu: translate(-100%);

    padding: 40px 0;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
}
/* 
.nav: target {

}
 */
.logo {
    font-size: 2.5rem;
    z-index: 1;
}

.hamburguesa, 
.cierre {
    cursor: url(http://127.0.0.1:5500/assets/imgs/luigi.png), pointer;

    grid-column: -2/-1;
    grid-row: 1/2;
    transition: 0.4s transform;
}

.hamburguesa {
    transform: var(--estadoHamburguesa);
}

.cierre {
    transform: var(--estadoCerrado);
}

.nav_icono {
    width: 40px;
}

.nav_links {
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    display: grid;
    align-content: center;
    gap: 2rem;
    padding-left: 5%;

    transform: var(--estadoMenu);
    transition: 0.3 transform;
}

.nav_item {
    list-style: none;
}

.nav_link {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    letter-spacing: 0.3rem;
}

@media ( min-width: 700px) {
    .nav {
        --estadoHamburguesa: scale(0);
        --estadoMenu: translate(0);
    }
    .menu:target{
        --estadoCerrado: scale(0);
    }

    .nav_links {
        padding: 0;
        background-color: unset;
        position: unset;
        gap: 1rem;
        grid-auto-flow: column;

        transform: unset;

        grid-column: -2/-1;
        grid-row: 1/2;
    }

    .nav_link {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }
}
